name: '[Demo] Java CI with Maven'

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 15
      uses: actions/setup-java@v2
      with:
        java-version: '15'
        distribution: 'adopt'

    - name: Build with Maven
      run: mvn -B --file pom.xml --update-snapshots verify
      
    - name: Publish Test Report
      if: ${{ always() }}
      uses: scacap/action-surefire-report@v1
